/* scaffolding borders */
div, header, footer {
	border: 1px dashed black;
}
article {
	border: 2px solid green;
}
section {
	border: 1px dashed red;
}

/* header */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* footer */
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
}
footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
footer div > * {
	padding: 0px 10px;
	margin: auto auto;
}

#introduction {
	font-family: sans-serif;
	padding: 10px;
}

#content {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	height: 75vh;
}

#content .feed {
	height: inherit;
	overflow: scroll;
}

.feed article {
	width: 80%;
	padding: 10px;
	margin: 20px auto;
}

.feed section.link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.feed article p,
.feed article h2,
.feed article h3,
.feed article h4 {
	margin: 0px;
	padding: 5px;
}

#projects h3 {
	text-align: center;
}

.feed > p,
.feed > p a {
	margin: 15px;
	order: 0;
	text-align: center;
	text-decoration: underline;
	color: black;
	font-size: 20pt;
	
}