div, header, footer {
	border: 1px dashed black;
}

article {
	border: 2px solid green;
}

section {
	border: 1px dashed red;
}

header {
	text-align: center;
	color: blue;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
}

footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

footer div > * {
	padding: 0px 10px;
	margin: auto auto;
}

#content {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	height: 80vh;
}

#left {
	width: 65%;
}

#right {
	width: 35%;
}

#projects article {
	width: 80%;
	padding: 10px;
	margin: 20px auto;
}

#projects section.link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#projects p,
#projects h3 {
	margin: 0px;
	padding: 5px;
}

#projects h3 {
	text-align: center;
}
