:data {
	--project-background-opacity: 1;
}

a {
	color: darkslategray;
}

a:hover {
	font-weight: bold;
}

body {
	background-size: auto;
	background-color: white;
}

.bordered.java {
	border-color: rgb(175, 113, 37);
	background-color: rgba(175, 113, 37, 0.15);
}
.bordered.javascript {
	border-color: rgb(240, 223, 101);
	background-color: rgba(240, 223, 101, 0.15);
}
.bordered.php {
	border-color: rgb(80, 94, 147);
	background-color: rgba(80, 94, 147, 0.15);
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	text-align: center;
	padding: 15px;
}

header h1 {
	font-family: "Space Mono", monospace;
	font-size: 40pt;
	margin: 10px 40px;
}

header img {
	width: 10%;
	height: 10%;
	padding: 3vw;
}

nav {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	border: 2px dashed gray;
	border-radius: 10px;
	margin: auto 0px;
}

nav p {
	padding: 2px 4px;
	margin: 12px 12px;
	font-family: monospace;
	font-size: 14pt;
	border: 1pt dashed black;
	border-radius: 5px;
}

nav a {
	color: black;
	text-decoration: underline;
}

nav a:hover {
	font-weight: bold;
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 5px;
}

#contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#contact p {
	margin: auto 10px;
}

footer > * {
	margin: 5px 10px;
}

footer a {
	padding: 10px 0px;
}

#introduction {
	margin: 20px;
	text-align: justify;
	font-family: sans-serif;
}

body > h2,
body > h2 a {
	margin: 15px;
	text-align: center;
	text-decoration: underline;
	font-weight: normal;
	color: black;
	font-size: 20pt; 	
}

article {
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	margin: 15px;
	border: 5px solid; /* color defined independently below */
	border-radius: 10px;
	box-shadow: 3px 5px 25px #333333;
}

article section {
	margin: 5px 3px;
}

#projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	flex-shrink: 2;
	height: 480px;
	overflow-x: scroll;
	overflow-y: hidden;
}

#projects article {
	width: 200px;
}

#projects h2 {
	text-align: center;
}

article .text {
	border: inherit;
	border-radius: inherit;
	border-width: 3px;
	box-shadow: 1px 3px 20px #777777;
	padding: 3px 4px;
	background-color: white;
	opacity: 0.75;
}

.feed section.link {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
	margin: auto 0px;
}

.feed article a:hover {
	text-decoration: none;
	font-weight: normal;
}

article p,
article h2,
article h4 {
	margin: 0px;
	padding: 5px;
}

article h2,
article h4 {
	font-family: Merriweather;
}

article p {
	font-family: Lato, sans-serif;
}

article a {
	text-decoration: none;
	font-family: "Roboto Mono";
	font-weight: bold;
	font-size: 12pt;
}