#projects {
	a {
		display: inline-block;
		text-decoration: none;
		font-size: 10.5pt;
		&.live {
			&::after {
				content: "🔗";
			}
		}
		&.code {
			&::after {
				content: "💾";
			}
		}
	}

	li {
		display: flex;
		flex-flow: row nowrap;
		justify-content: left;
		margin: 0;
		> * {
			margin: 2px 5px;
		}
	}

	.links,
	.tags {
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.tag {
		--tag-color: black;
		font-family: monospace;
		border: 2px solid var(--tag-color);
		color: var(--tag-color);
		padding: 1px 3px;
		border-radius: 2px;
		margin: 0 2px;
		font-size: 8pt;
		display: block;

		&.html {
			--tag-color: red;
			order: 10;
			&::after {
				content: "HTML";
			}
		}
		&.css {
			--tag-color: purple;
			order: 11;
			&::after {
				content: "CSS";
			}
		}
		&.vanilla-js,
		&.react,
		&.node-js {
			--tag-color: rgb(202, 165, 0);
		}
		&.vanilla-js {
			order: 2;
			&::after {
				content: "Vanilla JS";
			}
		}
		&.react {
			order: 2;
			&::after {
				content: "React";
			}
		}
		&.node-js {
			order: 1;
			&::after {
				content: "Node.js";
			}
		}
		&.java {
			--tag-color: brown;
			&::after {
				content: "Java";
			}
		}
		&.php {
			--tag-color: rgb(31, 49, 214);
			&::after {
				content: "PHP";
			}
		}
		&.frontend,
		&.backend,
		&.full-stack {
			order: -1;
		}
		&.frontend {
			&::after {
				content: "Frontend";
			}
		}
		&.full-stack {
			&::after {
				content: "Full Stack";
			}
		}
	}

	p.short {
		display: none;
	}
}

#writing {
	a {
		&::after {
			content: "read";
		}
	}
}

.hidden {
	display: none !important;
}
