/* imports most of the colors, fonts, etc that make my style up */
@import "theme.css";

body {
	background-size: auto;
	background-color: white;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	text-align: center;
	padding: 15px;
}

header h1 {
	font-size: 40pt;
	margin: 10px 40px;
}

header img {
	width: 10%;
	height: 10%;
	padding: 3vw;
}

nav {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: auto 0px;
	border: 3px solid rgb(192, 192, 192);
	background-color: rgba(192, 192, 192, 0.15);
	border-radius: 10px;
}

nav p {
	padding-top: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 8px;
	font-size: 14pt;
	border: 2px solid rgb(192, 192, 192);
	background-color: white;
	border-radius: 5px;
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 5px;
}

#contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#contact p {
	margin: auto 10px;
}

footer > * {
	margin: 5px 10px;
}

footer a {
	padding: 10px 0px;
}

#introduction {
	margin: 20px;
	text-align: justify;
}

body > h2,
body > h2 a {
	margin: 15px;
	font-size: 20pt; 	
}

article {
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	margin: 15px;
	border: 5px solid; /* color defined independently below */
	border-radius: 10px;
	box-shadow: 3px 5px 25px #333333;
}

article section {
	margin: 5px 3px;
}

#project-languages {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#project-languages * {
	padding: 5px 10px;
	margin: 5px;
	border-radius: 5px;
}

#project-languages .selected {
	border: 1px solid black;
}

#projects {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex-shrink: 2;
	padding: 5px;
}
#page-home #projects {
	height: 500px;
	overflow-y: scroll;
}
#page-projects #projects {
	height: auto;
}

#projects article {
	width: 200px;
}

article .text {
	border: 3px solid;
	border-color: inherit;
	border-radius: inherit;
	box-shadow: 1px 3px 20px #777777;
	padding: 3px 4px;
	background-color: white;
	opacity: 0.75;
}

.feed section.link {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
	margin: auto 0px;
}

article p,
article h3 {
	margin: 0px;
	padding: 5px;
}

article h3 {
	font-size: 20pt;
	text-align: center;
}

article a {
	font-weight: bold;
	font-size: 12pt;
}