#projects {
	.links {
		display: flex;
		flex-flow: column nowrap;
		.live {
			order: 0;
			&::after {
				content: "live website";
			}
		}
		.code {
			order: 1;
			&::after {
				content: "source code";
			}
		}
	}

	ul {
		display: flex;
		flex-flow: column nowrap;

		> li {
			order: 100;
		}
	}
}

#writing {
	a {
		&::after {
			content: "read";
		}
	}
}

.hidden {
	display: none !important;
}
