.App h1 {
  text-align: center;
}

.App p {
  text-align: left;
  margin: 10px auto;
  max-width: 600px;
}

.Preview {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  max-width: 1000px;
  margin: auto;
}

.Preview article {
  border: 1px solid orange;
  margin: 10px;
  min-width: 200px;
  max-width: 250px;
}

.Preview article * {
  margin: 0px;
}

.Preview article ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.red-book * {
  color: red;
}

.blue-book * {
  color: blue;
}

.ContactInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto;
}

.ContactInfo li {
  display: block;
  margin: 0 20px;
}