$gray-1: #444;
$gray-2: #888;
$gray-3: #ddd;
$blue-1: #236cba;

* {
	margin: 0;
	padding: 0;
}

header,
footer {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	align-items: center;
	padding: 5px 7px;
	font-family: sans-serif;
	margin: 8px;

	* {
		margin: 0 7px;
		font-size: inherit;

		&:first-child {
			margin-left: 0px;
			font-weight: bold;
		}
		&:last-child {
			margin-right: 0px;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}
header {
	color: $gray-1;
	background-color: $gray-3;
	font-size: 15pt;
	justify-content: left;
	flex-wrap: nowrap;
}
footer {
	color: $gray-2;
	font-size: 11pt;
	justify-content: center;
	flex-wrap: wrap;
}

main {
	margin: 30px auto;
	width: 80%;
	max-width: 800px;
	// make sure footer is on bottom
	min-height: calc(100vh - 180px);

	font-family: sans-serif;
	text-align: justify;
	font-size: 15pt;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}

	> *,
	> a * {
		margin: 15px auto;
	}

	hr {
		width: 75%;
		margin: 30px auto;
		background-color: $gray-2;
		border-color: $gray-2;
		color: $gray-2;
		border-style: solid;
		border-radius: 2px;
	}

	> p,
	> a > p,
	> * > li,
	> a > * > li {
		font-family: serif;

		span.paren {
			color: $gray-2;
		}
	}

	> * a {
		color: $blue-1;
		text-decoration: none;
		span {
			text-decoration: underline;
		}
	}

	// links directly in main are invisible
	> a {
		color: inherit;
		text-decoration: none;
		display: block;
		margin: 0;
	}

	blockquote {
		width: 80%;
		margin: 40px auto;
		padding: 5px 25px;
		border-radius: 15px;
		font-size: 13pt;

		& + blockquote {
			margin-top: -20px;
		}

		> * {
			margin: 15px auto;
			text-align: justify;
		}

		.anchor {
			float: left;
			position: absolute;
			right: 10px;
			color: #555;
			font-family: monospace;
		}

		.pages {
			text-align: center;
			margin-top: -5px;
			margin-bottom: 10px;
		}

		&:nth-of-type(2n) {
			background-color: #eee;
		}
		&:nth-of-type(2n-1) {
			background-color: #ddd;
		}
	}
}

.hidden {
	display: none !important;
}

.no {
	&-bold {
		font-weight: normal;
	}
	&-underline {
		text-decoration: none;
	}
	&-italic {
		font-style: normal;
	}
}
