header,
footer {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	justify-content: left;
	align-items: center;

	padding: 5px 7px;

	background-color: #ddd;
	color: #444;
	font-family: sans-serif;

	* {
		margin: 0 7px;
		font-size: inherit;

		&:first-child {
			margin-left: 0px;
			font-weight: bold;
		}
		&:last-child {
			margin-right: 0px;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}
header {
	font-size: 15pt;
}
footer {
	font-size: 11pt;
}

main {
	a {
		color: #236cba;
		text-decoration: none;
		span {
			text-decoration: underline;
		}
	}
}

article {
	margin: 50px auto;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		width: 80%;
		max-width: 800px;
		margin: 15px auto;
		font-family: sans-serif;
		text-align: left;
	}

	p {
		font-family: serif;
		font-size: 14pt;

		span.paren {
			color: #888;
			&::before {
				content: "(";
			}
			&::after {
				content: ")";
			}
		}

		& + *:not(p) {
			margin-top: 25px;
		}
	}
}

.hidden {
	display: none !important;
}

.no {
	&-bold {
		font-weight: normal;
	}
	&-underline {
		text-decoration: none;
	}
	&-italic {
		font-style: normal;
	}
}
