.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

.headshot {
  background-image: url(/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25%;
  height: 3.5em;
  width: 3.5em;
}

.name {
  margin-left: 0.5em;
  white-space: nowrap;
}
