.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 20px;

  > * {
    margin: 5px 10px;

    font-size: 14pt;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: text-decoration 2s;

    &:hover {
      text-decoration: none;
    }
  }
}
