.socialMediaProfiles {
  display: grid;
  width: 80%;

  > * {
    --color: none; // set programatically
    color: var(--color);
    text-align: center;
    height: 75px;
    width: 275px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    img {
      float: left;
      max-height: 35px;
      max-width: 45px;
      margin: 20px;
    }

    span {
      font-weight: bold;
      font-size: 16pt;
      text-decoration: underline;
      text-decoration-thickness: 2.5px;
    }

    outline: none;
  }
}

@media only screen and (min-width: 750px) {
  .socialMediaProfiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .socialMediaProfiles {
    grid-template-columns: repeat(1, 1fr);
  }
}
